
@media screen and (max-width: 408px) {
	 #logos{
		visibility: hidden;
	}
}


#country_filter{
   margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 5%;
}


.helpme{
  left: 20px!important;
  top: 20px!important;
}

.demonstration{
  left: 20px!important;
  top: 20px!important;
}


.istex_result{
	width: 100%;
	height: 300px;
	overflow-y: auto;
	overflow-x:hidden; 
	margin-top: 0 !important;

}

tr{
	font-size: 13px;
}
td{
	font-size: 13px;
}

#istex-widget-search{
	margin-top: 20%;
	margin-bottom: 20%;
}

#searchbutton{
	margin-top: -10px!important;
	margin-left: 10px!important;
	width: 110px!important;
	cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #E0E1E2;
    color: rgba(0,0,0,.6);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}




::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #04b1a9;
}
::-webkit-scrollbar-thumb:active {
  background: #00b5ad;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 15px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


#warning{
	display: none;
}

#noresult{
	display: none;
}

#laboratorys tbody tr {
	cursor: pointer;
}

#authors tbody tr {
	cursor: pointer;
}
#authors_row tbody tr {
	cursor: pointer;
}
#laboratorys_row tbody tr {
	cursor: pointer;
}

#improve{
	display: none!important;
}
.ui .pagination .menu{
	margin-right: 10%;
}

.bubbleauthors{
	margin-left: 10px!important;
	display: none!important;
}

.bubblelaboratorys{
	margin-left: 10px!important;
	display: none!important;
}
.leafletmap{
	margin-left: 10px!important;
	display: none!important;
}

.reloadlaboratory{
	cursor: pointer;
}
.reloadauthor{
	cursor: pointer;
}
.leafletmap{
	cursor: pointer;
}

.command_laboratory a{
	cursor: pointer;
}

.command_authors a{
	cursor: pointer;
}

.ui.pagination.menu{
	left: 10px;
}
.leaflet-tooltip{
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
.paging_numbers {
	margin-right: 320px !important;
}

.ui.pagination.menu .item{
	min-width: 1em !important;
}

.row{
	box-sizing: content-box;
}

  #map {
   height: 450px;
    }
  #content{
    height: 550px;
  }



  @page {
   size: landscape;
   margin: 9mm 0mm 0mm 16.5mm;  
    }

    
  @media print{
  	#map{
  		top: 15%;
  	}

  }

 text{
 	white-space: nowrap;
 }

   div.google-visualization-tooltip ul li:nth-child(2) { 
   	display: none;
   	 }

   div.google-visualization-tooltip ul li:nth-child(3) { 
   	display: none;
   	 }

#cnrs{
	width: 70px;
}

#logo{
  width: 70px;
}
#title{
  color: black;
  margin-bottom: 14%
}

.loading_country{
	display: none
}

.loading_laboratory{
	display: none
}
.loading_authors{
	display: none
}

#series_chart_div {
	width: 900px; 
	height: 550px;

}
@media screen and (max-width: 1080px) {
#series_chart_div {
	zoom:0.6;
	width: 600px; 
	height: 550px;
}

#series_chart_div_authors {
	width: 900px; 
	height: 550px;

}
@media screen and (max-width: 1080px) {
#series_chart_div_authors {
	margin-left: 15%;
	zoom:0.6;
	width: 600px; 
	height: 550px;
}



#map{
	width: 100%; 
	height: 100%;

}

#country_filter{
   margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 20%;
}




}


