.istex_result{
	width: 100%;
	height: 300px;
	overflow-y: auto;
}



.ui .pagination .menu{
	margin-right: 10%;
}

.bubbleauthors{
	cursor: pointer;
}

.bubblelaboratorys{
	cursor: pointer;
}

.leafletmap{
	cursor: pointer;
}

.reloadlaboratory{
	cursor: pointer;
}
.reloadauthor{
	cursor: pointer;
}
.leafletmap{
	cursor: pointer;
}

.command_laboratory a{
	cursor: pointer;
}

.command_authors a{
	cursor: pointer;
}

.ui.pagination.menu{
	margin-left: -25%;
}