.istex_result{
	width: 100%;
	height: 300px;
	overflow-y: auto;
}

.paging_simple_numbers .previous  {
    display: none !important;
}

.paging_simple_numbers .next  {
    display: none !important;
}

.ui .pagination .menu{
	margin-right: 10%;
}