<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
	<title>Cartographie ISTEX usage</title>
	<link rel="stylesheet" type="text/css" href="../../Frontend_Istex_usage/css/semantic/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../../Frontend_Istex_usage/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../Frontend_Istex_usage/css/rzslider.css">
  <script src="../../Frontend_Istex_usage/js/jquery.min.js"></script>
  <link rel="stylesheet" href="../../Frontend_Istex_usage/css/navbar.css">
  <link rel="stylesheet" href="../../Frontend_Istex_usage/leaflet/leaflet.css" />
  <script src="../../Frontend_Istex_usage/leaflet/leaflet.js"></script>
  <script src="../../Frontend_Istex_usage/js/print.js"></script>
  <script src="../../Frontend_Istex_usage/js/modal.js"></script>
	<link rel="stylesheet" type="text/css" href="../../Frontend_Istex_usage/css/style.min.css">

</head>
<body>
     <nav id="example">
          <div class="navbar ui inverted teal menu ">
              
                <a class="navbar-brand" href="#">
                    <span><strong>Cartographie ISTEX</strong></span>
                </a>
                <div id='logos' class="navbar-menu right menu">
                     <div class="item">
                    <img id="ul" class="ui small image"  src="../../Frontend_Istex_usage/img/UL_logo.png"  alt="Université de lorraine"/>
                   </div>
                <div class="item">
                    <img class="ui small image"  src="../../Frontend_Istex_usage/img/OTELO.png"  alt="Otelo"/>
                  </div>
                  <div class="item">
                    <img class="ui small image" id="cnrs"  src="../../Frontend_Istex_usage/img/cnrs.png"  alt="CNRS"/>
                 </div>
               
           
            </div>
           
        </nav>

    {% include 'modal_bubble_authors.html.twig' %} <!--  Differentes inclusion de templates twig -->
   	{% include 'modal_bubble_laboratorys.html.twig' %}
    {% include 'modal_leaflet_country.html.twig' %}
    {% include 'modal_laboratorys_table.html.twig' %}
    {% include 'modal_authors_table.html.twig' %}
    {% include 'aide.html.twig' %}
    {% include 'demo.html.twig' %}


    <button class=" ui labeled icon button helpme">
  <i class="help circle icon"></i>
  Help
</button>
  <button class=" ui labeled icon button demonstration">
 <i class="video play icon"></i>
  Demonstration
</button>
<div class="ui grid container">
    <div class="ten wide centered column">
        {% include 'widget_istex.html.twig' %}

      </div>
  </div>
  <div class="ui grid ">
  <div class="one wide column ">
      
    </div>
     <div class="ten wide column istex_result ui piled segment">
  			<istex-results></istex-results>
    </div>
    <div class="one wide column ">
      
    </div>
     <div class="three wide column istex_result ui raised segment">
         <istex-facets></istex-facets>
       
    </div>
  </div>
 
<div class="ui grid container">
  <div class=" six wide centered column">
   <div class="ui orange inverted center aligned segment" id="warning"><h4><i class="warning sign icon"></i> Warning: only 15000 results parsed!</h4></div>
   <div class="ui red inverted center aligned segment" id="noresult"><h4><i class="warning sign icon"></i> Warning: No result to be parsed!</h4></div>
  </div>
</div>  


<div class="ui stackable three column grid">
   	<div class="column">
   		{% include 'country_list.html.twig' %}
   	</div>
   	<div class="column">
   		{% include 'laboratorys_list.html.twig' %}
   	</div>
   	<div class="column">
   		{% include 'authors_list.html.twig' %}
   	</div>
</div>





<script src="../../Frontend_Istex_usage/js/jquery.dataTables.min.js"></script>
<script src="../../Frontend_Istex_usage/js/dataTables.buttons.min.js"></script>
<script src="../../Frontend_Istex_usage/js/buttons.html5.min.js"></script>



<script src="../../Frontend_Istex_usage/js/dataTables.semanticui.min.js"></script>

<script src="../../Frontend_Istex_usage/js/widget_istex/angular.min.js"></script>
<script src="../../Frontend_Istex_usage/js/widget_istex/rzslider.js"></script>
<script src="../../Frontend_Istex_usage/js/widget_istex/app.min.js"></script>
<script src="../../Frontend_Istex_usage/js/navbar.js"></script>
<script src="../../Frontend_Istex_usage/css/semantic/dist/semantic.min.js"></script>
<script src="../../Frontend_Istex_usage/js/country.js"></script>
<script src="../../Frontend_Istex_usage/js/laboratory.js"></script>
<script src="../../Frontend_Istex_usage/js/author.js"></script>
<script src="../../Frontend_Istex_usage/js/modernizr.js"></script>

<script type="text/javascript" src="../../Frontend_Istex_usage/js/googlechart.js"></script>
   <script>
   $(document).ready(function(){ 

     $('.istex-advanced-wrapper').remove(); // remove option avancé widget istex
   });
     var mymap = L.map('map').setView([51.505, -0.09], 4); //declaration de la map leaflet
       L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(mymap); // declaration des tiles a utiliser sur leaflet (osm)


            (function($) {
                // Init the Semantic-UI Dropdown
                $('.dropdown').dropdown();
                // Init the navbar
                $('#example').navBar();
            }(jQuery));
$('.ui.accordion')
  .accordion()
;


     
    </script>
