<!DOCTYPE html>
<html>
<head>
	<title>Cartographie ISTEX usage</title>
	<link rel="stylesheet" type="text/css" href="../../css/semantic/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="http://istex.github.io/styleAngular/style.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../css/semantic/dist/semantic.min.js"></script>
<script src="../../js/country.js"></script>
<script src="../../js/laboratory.js"></script>
<script src="../../js/author.js"></script>


</head>
<body>

<div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui huge message page grid center aligned">
                    <h1 class="ui huge header">Cartographie Istex</h1>
                </div>
            </div>
       </div>
</div>


   	{% include 'widget_istex.html.twig' %}

<div class="ui three column grid">
 	{% include 'country_list.html.twig' %}
 	{% include 'laboratorys_list.html.twig' %}
   	{% include 'authors_list.html.twig' %}
</div>






<input type="text" name="query">
<button>test</button>
<script src="http://istex.github.io/bower_components/angular/angular.min.js"></script>
<script src="http://istex.github.io/slider/rzslider.js"></script>
<script src="http://istex.github.io/app.min.js"></script>