<!DOCTYPE html>
<html>
<head>
	<title>Cartographie ISTEX usage</title>
	<link rel="stylesheet" type="text/css" href="../../css/semantic/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="http://istex.github.io/styleAngular/style.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="../../css/navbar.css">

</head>
<body>
     <nav id="example">
            <div class="navbar ui inverted teal borderless menu">
                <div class="navbar-sandwich ui dropdown item">
                    <i class="navbar-sandwich-icon content big icon"></i>
                    <div class="navbar-sandwich-content menu"></div><!--Keep empty-->
                </div>
                <a class="navbar-brand" href="#">
                    <img src="../../img/logotype.png"/>
                    <span><strong>Cartographie ISTEX</strong></span>
                </a>
                <div class="navbar-menu right menu">
                    <a class="item navbar-collapsable-item" href="#"><strong>ITEM</strong></a>
                    <a class="item navbar-collapsable-item" href="#"><strong>ITEM</strong></a>
                    <a class="item navbar-collapsable-item" href="#"><strong>ITEM</strong></a>
                    <a class="item navbar-collapsable-item" href="#"><strong>ITEM</strong></a>
                    <div class="navbar-collapsable-item ui dropdown item">
                        <strong>DROPDOWN</strong>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="#"><strong>ITEM</strong></a>
                            <a class="item" href="#"><strong>ITEM</strong></a>
                            <a class="item" href="#"><strong>ITEM</strong></a>
                        </div>
                    </div>
                    <!-- This link will not collapse -->
                    <a class="item" href="#"><strong>FIXED ITEM</strong></a>
                </div>
            </div>
        </nav>
   	{% include 'modal_carte.html.twig' %}


<div class="ui grid container">
	<div class="ten wide centered column">
   		{% include 'widget_istex.html.twig' %}

   	</div>
   	<div class="seven wide column">
   		{% include 'country_list.html.twig' %}
   		{% include 'laboratorys_list.html.twig' %}
   		{% include 'authors_list.html.twig' %}

   	</div>
   
	<div class="nine wide column">
		<istex-results></istex-results>
	</div>
</div>






<script src="http://istex.github.io/bower_components/angular/angular.min.js"></script>
<script src="http://istex.github.io/slider/rzslider.js"></script>
<script src="http://istex.github.io/app.min.js"></script>
<script src="../../js/navbar.js"></script>
<script src="../../css/semantic/dist/semantic.min.js"></script>
<script src="../../js/country.js"></script>
<script src="../../js/laboratory.js"></script>
<script src="../../js/author.js"></script>
<script src="../../js/modal.js"></script>
<script src="../../js/modernizr.js"></script>
   <script>
            (function($) {
                // Init the Semantic-UI Dropdown
                $('.dropdown').dropdown();
                // Init the navbar
                $('#example').navBar();
            }(jQuery));
        </script>