<!DOCTYPE html>
<html>
<head>
	<title>Cartographie ISTEX usage</title>
	<link rel="stylesheet" type="text/css" href="../../css/semantic/dist/semantic.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../css/semantic/dist/semantic.min.js"></script>
<script src="../../js/country.js"></script>

</head>
<body>

<div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui huge message page grid center aligned">
                    <h1 class="ui huge header">Cartographie Istex</h1>
                </div>
            </div>
       </div>
</div>


{% include 'country_list.html.twig' %}