<div class="ui modal aide">
<div class="header">
    Help center
  </div>
<div class="ui styled fluid accordion">

  <div class="title">
    <i class="dropdown icon"></i>
  How search works ?
  </div>
  <div class="content">
    <p class="transition hidden">Type words in input text and click on search button.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
   How to improve your search ?
  </div>
  <div class="content">
    <p class="transition hidden">For improve your search you can select facets, like corpusname,score,genre,language,Wos,publication date and copyright date .</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    View improved country's data ?
  </div>
  <div class="content">
    <p class="transition visible">Click on improve and wait, this may take a while, this function search by cities and state. </p>
    <button class="circular ui toggle icon button">Improve</button>

  </div>

<div class="title">
    <i class="dropdown icon"></i>
   How to export countries data ?
  </div>
  <div class="content">
    <p class="transition visible">Just click on EXPORT CSV in the countries section </p>
      <button class="ui primary button ">
          EXPORT CSV
    </button>
  </div>
<div class="title">
    <i class="dropdown icon"></i>
   How to export laboratories data ?
  </div>
  <div class="content">
    <p class="transition visible">Just click on EXPORT CSV in the laboratorys section </p>
     <button class="ui primary button ">
          EXPORT CSV
    </button>
  </div>

<div class="title">
    <i class="dropdown icon"></i>
  How to export authors data ?
  </div>
  <div class="content">
    <p class="transition visible">Just click on EXPORT CSV in the authors section </p>
     <button class="ui primary button ">
          EXPORT CSV
    </button>
  </div>

<div class="title">
    <i class="dropdown icon"></i>
  How to view countries representation on map ?
  </div>
  <div class="content">
    <p class="transition visible">Just click on View on map in the countries section </p>
     <button class="ui button ">
          View on map
    </button>
  </div>

  <div class="title">
    <i class="dropdown icon"></i>
  How to view laboratories representation in a bubblechart ?
  </div>
  <div class="content">
    <p class="transition visible">Just click on View on map in the laboratories section </p>
    <button class="ui button ">
          View on map
    </button>
  </div>

  <div class="title">
    <i class="dropdown icon"></i>
  How to view authors representation in a bubblechart ?
  </div>
  <div class="content">
    <p class="transition visible">Just click on View on map in the authors section </p>
      <button class="ui button ">
          View on map
    </button>
  </div>

   <div class="title">
    <i class="dropdown icon"></i>
 What is the search input on each array ?
  </div>
  <div class="content">
    <p class="transition visible">You can search whatever you want in each array, like a country, a name of laboratory or university, or an author.</p>
  </div>

   <div class="title">
    <i class="dropdown icon"></i>
 More precision about laboratories and authors array.
  </div>
  <div class="content">
    <p class="transition visible">You can click on each row and view details about documents published by this laboratory or this author, you can consult it into Istex API by clicking on publication's row.</p>

    <p class="transition visible">You can export all the rows of a selected row with EXPORT CSV and retrieve ID and title of publications.</p>
  </div>

</div>
<div id="actions_aide" class="actions">
    <div class="ui negative right labeled icon button">
      Fermer
      <i class="remove icon"></i>
    </div>
  </div>
</div>