<div class="ui segment">
<i class="map icon bubbleauthors"></i>
    <h1 class="ui huge header">Authors</h1>
        <table id="authors" class="ui unstackable inverted red table">
            <thead>
                <tr><th>Author</th>
                <th>Laboratory</th>
                <th>Number of publications</th>
                </tr>
                </thead>
                <tbody></tbody>
        </table>
</div>
               
              
