<div class="ui segment authors">
 <div class="ui grid">
   <div class="four column row">
    <button class="ui button bubbleauthors">
      View on map
    </button>
    <div id="buttons_authors_master" class="  column"></div>
    </div>
</div>
    <h1 class="ui huge header">Authors</h1>
        <table id="authors" class="ui unstackable inverted red table">
            <thead>
                <tr><th>Author</th>
                <th>Laboratory</th>
                <th>Institution</th>
                <th>Number of publications</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
        </table>
                <div class="loading_authors">
                 <div hidden class="ui active centered inline loader">
                    </div>
                </div>
</div>
               
              
