<div class="ui segment authors">
<button class="ui labeled green icon button bubbleauthors">
<i class="map icon "></i>
  View on map
</button>
    <h1 class="ui huge header">Authors</h1>
        <table id="authors" class="ui unstackable inverted red table">
            <thead>
                <tr><th>Author</th>
                <th>Laboratory</th>
                <th>Institution</th>
                <th>Number of publications</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
        </table>
                <div class="loading_authors">
                 <div hidden class="ui active centered inline loader">
                    </div>
                </div>
</div>
               
              
