<div class="ui segment">
<i class="map icon bubbleauthors"></i>
    <h1 class="ui huge header">Auteurs</h1>
        <table id="authors" class="ui inverted red table">
            <thead>
                <tr><th>Auteur</th>
                <th>Laboratoire</th>
                <th>Nombre de documents</th>
                </tr>
                </thead>
                <tbody></tbody>
        </table>
</div>
               
              
