    {% include 'header.html.twig' %}
<div class="ui grid">
	<div class="row"></div>
	<div class="ui container">
	<div class="ui piled segment">
	<h1 class="ui header">Cookies and statistics</h1>	
	<div class="grid">	
		<div class="ui container">

		<div class="ui  text"><p>In order to adapt the site to the requests of its visitors, we measure the number of visits, the number of pages viewed as well as the activity of the visitors on the site and their frequency of return.<p>

		<p>Piwik, the statistical tool used by INIST - CNRS, generates a cookie with a unique identifier, the shelf life of which is limited to 13 months.</p>

		<p>We also collect your IP address to determine the city from which you are connecting. This is immediately anonymized. The Inist - CNRS therefore can not in any case go back in this way to a natural person.</p>

		<p>The data are not transferred to third parties or used for other purposes.</p>

		<p>You can set your browser to notify you of the presence of cookies and offers to accept them or not. You can accept or reject cookies on a case-by-case basis or reject them once and for all. It is reminded that this setting is likely to modify your conditions of access to services of the site requiring the use of cookies.</p>
		</div>
		
<iframe style="border: 0; height: 200px; width: 600px;" src="https://piwik2.inist.fr/index.php?module=CoreAdminHome&action=optOut&language=fr"></iframe>
	</div>
	</div>

</div>



	</div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

<div class="row"></div>
<div class="row"></div>



</div>



    {% include 'footer.html.twig' %}
