<div class="ui segment country" >   
  <div class="ui grid">
   <div class="four column row">
    
<button class="ui teal button leafletmap">
  View on map
</button>


    <div id="buttons_country" class=" column"></div>
    <button id="improve" class="circular ui toggle icon button" data-tooltip="Click here to improve country search by state and city data." data-position="top left" data-inverted=""">
      <i class="icon settings"></i>
       Improve
    </button>    
    </div>
  </div>

     
  <h1 id="name" class="ui huge header">Countries</h1>
    <table id="country" class="ui unstackable inverted teal table">
      <thead>
      <tr><th>Country</th>
      <th>Number of publications</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

      <div class="loading_country">
		<div hidden class="ui active centered inline loader">
   		</div>
      </div>
</div>
