
<div class="ui grid">
        <div class="row">
            <div class="column">
                <div class="ui huge message page grid center aligned">
                    <h1 class="ui huge header">Pays</h1>
                    <div id="country" class="ui middle aligned animated list">
                  
                  </div>
                </div>
                </div>
            </div>
       </div>
</div>


