  <div class="column">
             <div class="ui segment">
                <div class="ui huge message page aligned">                    
                <h1 id="name" class="ui huge header">Pays</h1><i class="map icon"></i>
                    <table id="country" class="ui inverted teal table">
                      <thead>
                        <tr><th>Pays</th>
                        <th>Nombre de documents</th>
                      </tr></thead>
                      </table>
                </div>
                </div>
</div>
