<div class="ui modal demo">
<div class="header">
    Demonstration
  </div>
  <div class="ui grid">
<div class="ui column videodemo">
<video height="100%" width="100%" controls="controls">
  <source src="../../Frontend_Istex_usage/img/DemonstrationIstex.mp4" type="video/mp4" />
</video>
</div>
</div>
<div id="actions_aide" class="actions">
    <div class="ui negative right labeled icon button">
      Fermer
      <i class="remove icon"></i>
    </div>
  </div>
</div>