<div id="footer" class="ui inverted vertical footer segment">
   <div class="ui center aligned container">
      <div class="ui horizontal inverted small divided link list">
          <a href="https://github.com/OTELO-OSU/carto_istex" class="item">Source code on github</a>
          <a href="cookies" class="item">Cookies and statistics</a>
      </div>
   </div>
</div>