<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
	<title>Cartographie ISTEX usage</title>
	<link rel="stylesheet" type="text/css" href="../../Frontend_Istex_usage/css/semantic/dist/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="../../Frontend_Istex_usage/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../Frontend_Istex_usage/css/rzslider.css">
  <script src="../../Frontend_Istex_usage/js/jquery.min.js"></script>
  <link rel="stylesheet" href="../../Frontend_Istex_usage/css/navbar.css">
  <link rel="stylesheet" href="../../Frontend_Istex_usage/leaflet/leaflet.css" />
  <script src="../../Frontend_Istex_usage/leaflet/leaflet.js"></script>
  <script src="../../Frontend_Istex_usage/js/print.js"></script>
  <script src="../../Frontend_Istex_usage/js/modal.js"></script>
	<link rel="stylesheet" type="text/css" href="../../Frontend_Istex_usage/css/style.min.css">

</head>

<body>
<header id="header"></header>
     <nav id="example">
          <div class="navbar ui inverted teal menu ">
              
                <div class="item">
                  <img id="logo" class="ui small image"  src="../../Frontend_Istex_usage/img/logo_carto_istex.png"  alt="Carto_Istex"/>
    </div>
                  <h1 id="title">Carto Istex</h1>
                
                <div id='logos' class="navbar-menu right menu">
                     <div class="item">
                    <img id="ul" class="ui small image"  src="../../Frontend_Istex_usage/img/UL_logo.png"  alt="Université de lorraine"/>
                   </div>
                <div class="item">
                    <img class="ui small image"  src="../../Frontend_Istex_usage/img/OTELO.png"  alt="Otelo"/>
                  </div>
                  <div class="item">
                    <img class="ui small image" id="cnrs"  src="../../Frontend_Istex_usage/img/cnrs.png"  alt="CNRS"/>
                 </div>
               
           
            </div>
           
        </nav>