  <div class="column">
             <div class="ui segment">
                <div class="ui huge message page aligned">                    
                <h1 class="ui huge header">Laboratoires</h1><i class="map icon"></i>
                    <table id="laboratorys" class="ui inverted green table">
                      <thead>
                        <tr><th>Laboratoire</th>
                        <th>Université</th>
                        <th>Nombre de documents</th>
                      </tr></thead>
                      </table>
                </div>
                </div>
</div>
