<div class="ui segment laboratory" >   
    <i class="map icon bubblelaboratorys"></i>
    <h1 class="ui huge header">Laboratories</h1>
    <table id="laboratorys" class="ui unstackable inverted green table">
        <thead>
            <tr><th>Laboratory</th>
            <th>Institution</th>
            <th>Number of publications</th>
            </tr>
        </thead>
        <tbody>
        <div class="loading_laboratory">
            <div hidden class="ui active dimmer">
                <div class="ui massive text loader">Loading</div>
            </div>
         </div>
        </tbody>
    </table>
</div>