<div class="ui segment" height="300px">   
<i class="map icon bubblelaboratorys"></i>
    <h1 class="ui huge header">Laboratory</h1>
    <table id="laboratorys" class="ui inverted green table">
        <thead>
            <tr><th>Laboratory</th>
            <th>University</th>
            <th>Number of publications</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>