<div class="ui segment laboratory" >   
<button class="ui labeled green icon button bubblelaboratorys">
<i class="map icon "></i>
  View on map
</button>    <h1 class="ui huge header">Laboratories</h1>
    <table id="laboratorys" class="ui unstackable inverted green table">
        <thead>
            <tr><th>Laboratory</th>
            <th>Institution</th>
            <th>Number of publications</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
        <div class="loading_laboratory">
        <div hidden class="ui active centered inline loader">
            </div>
         </div>
</div>