<div class="ui modal laboratory_table">
  <div class="header">
  </div>
  <div class="ui grid">
    <div class="four column row">
      
    </div>
  </div>


  <div class="content_laboratory_row ui grid container" style="height: 500px;">
    
 <table id="laboratorys_row" class="ui unstackable inverted green table">
        <thead>
            <tr>
            <th>Title</th>
            <th>Id</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
   <div id="actions_infolabo" class="actions">
   
</div>
</div>