<div class="ui modal bubbleviewauthors">
  <div class="header">
    Carte
  </div>
 <div class=avert>
    <h2>Afin de visualiser les données lancez une recherche!</h2>
  </div>
<i class="repeat icon reloadauthor"></i>
    <div id="series_chart_div_authors" style="width: 900px; height: 600px; "></div>


  <div class="actions">
    <div class="ui negative right labeled icon button">
      Fermer
      <i class="remove icon"></i>
    </div>
  </div>
</div>