<div class="ui modal">
  <div class="header">
    Carte
  </div>
  <canvas width="1240" height="620" style="display: block; width: 620px; height: 310px;"></canvas>
  <div class="actions">
    <div class="ui negative right labeled icon button">
      Fermer
      <i class="remove icon"></i>
    </div>
  </div>
</div>