<div class="ui modal bubbleviewauthors">
  <div class="header">
    Bubble chart
  </div>
 <div class=avert>
    <h2>Afin de visualiser les données lancez une recherche!</h2>
  </div>
<div class="command_authors" >
<i class="repeat icon reloadauthor"></i>
</div>
    <div id="series_chart_div_authors" style="width: 700px; height: 550px; "></div>


  <div id="actions_authors" class="actions">
    <div class="ui negative right labeled icon button">
      Fermer
      <i class="remove icon"></i>
    </div>
  </div>
</div>