<div class="ui modal leafletview">
  <div class="header">
    Map
  </div>
<div id="content">
 <div id="map"></div>
<div id="legend">
  
</div>
</div>


  <div id="actions_leaflet" class="actions">
    <div class="ui negative right labeled icon button">
      Fermer
      <i class="remove icon"></i>
    </div>
  </div>
</div>