<div class="ui modal bubbleviewlaboratory">
  <div class="header">
    Bubble chart
  </div>
  <div class="avert">
    <h2>Afin de visualiser les données lancez une recherche!</h2>
  </div>
  <div class="command" >
  <i class="repeat icon reloadlaboratory"></i>
  </div>

    <div id="series_chart_div" style="width: 900px; height: 550px; "></div>


  <div class="actions">
    <div class="ui negative right labeled icon button">
      Fermer
      <i class="remove icon"></i>
    </div>
  </div>
</div>