<div class="ui modal authors_table">
  <div class="header">
  </div>
    <div class="ui grid">
    <div class="four column row">
      
    </div>
  </div>

  <div class="content_authors_row ui grid container" style="height: 500px;">
    
 <table id="authors_row" class="ui unstackable inverted red table">
        <thead>
            <tr>
            <th>Title</th>
            <th>Id</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
   <div id="actions_infoauthors" class="actions">
    <div id="buttons_authors" class=" right floated column"></div>

    </div>
</div>