<div class="ui modal laboratory_table">
  <div class="header">
  </div>
 <div class="ui grid">
   <div class="four column row">
    <div id="buttons_laboratory" class=" right floated column"></div>
  </div>
</div>
  <div class="content_laboratory_row ui grid container" style="height: 500px;">
    
 <table id="laboratorys_row" class="ui unstackable inverted green table">
        <thead>
            <tr>
            <th>Title</th>
            <th>Id</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
  </div>
   <div id="actions_leaflet" class="actions">
   <div class="ui negative right labeled icon button">
      Fermer
      <i class="remove icon"></i>
    </div>
</div>
</div>