<div class="ui modal bubbleviewlaboratory">
  <div class="header">
    Carte
  </div>

    <div id="series_chart_div" style="width: 900px; height: 900px; "></div>


  <div class="actions">
    <div class="ui negative right labeled icon button">
      Fermer
      <i class="remove icon"></i>
    </div>
  </div>
</div>