<div class="ui modal leafletview">
  <div class="header">
    Carte
  </div>
<style type="text/css">
  #map { height: 550px; }
</style>
 <div id="map"></div>


  <div class="actions">
    <div class="ui negative right labeled icon button">
      Fermer
      <i class="remove icon"></i>
    </div>
  </div>
</div>